.cr{
    height: 150vh;
}
.box1{
    border: solid 5px;
    width: 150px;
    height: 20vh;
    display: inline-block;
    position: sticky;
    top: 200px;
    background-color: darkgoldenrod;


}
.box2{
    border: solid 5px;
    width: 150px;
    height: 20vh;
    display: inline-block;
    position: relative;
    background-color: slategrey;

    
}
.li{
    border: solid 2px ;
    background-color: aqua;
    width: 80px;
    height: 9vh;
    position: absolute;
    left: 30px;
    top: 30px;
}
.box3{
    background-color: brown;
    border: solid 5px;
    width: 150px;
    height: 20vh;
    display: inline-block;
    position: fixed;
    top: 200px;
    
}.box4{
    background-color: blueviolet;
    border: solid 5px;
    width: 150px;
    height: 20vh;
    display: inline-block;
    
}.box5{
    background-color: blue;
    border: solid 5px;
    width: 150px;
    height: 20vh;
    display: inline-block;
 
    
}